node_modules
npm-debug.log
.env
.env.example
.env.backup
.git
.gitignore
README.md
.DS_Store
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
coverage
.vscode
.idea
tests
vendor
.php_cs.cache
